@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: var(--color-background);
  transition: background-color 1s ease-in-out;
}

@layer base {
  html[data-theme='ipsi'] {
    --color-background: #FFFF;
  }

  html[data-theme='sinpl'] {
    --color-background: #e2e8f0;
  }
}