@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: var(--color-background);
  transition: background-color 1s ease-in-out;
}

@layer base {
  html[data-theme='ipsi'] {
    --color-background: #FFFF;
    --color-heading: #f43f5e;
  }

  html[data-theme='sinpl'] {
    --color-background: #C4D7F0;
    --color-heading: #343BD4
  }
}