@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: var(--color-background);
  transition: background-color 1s ease-in-out;
}

@layer base {
  html[data-theme='ipsi'] {
    --color-background: #ffff;
    --color-heading: #ad005a;
  }

  html[data-theme='sinpl'] {
    --color-background: #c4d7f0;
    --color-heading: #343bd4;
  }
}
